#about .contact {
    margin: 0 3% 0 0;
    width: 100%;
    @media only screen and (min-width: 700px) {
        width: 100%;
        margin: 2% 0 3% 0;
    }
    a {
        text-decoration: none;
        margin-left: 0%;
        img {
            margin: 0 1px 0 0;
            border-radius: 60px;
            box-shadow: 0px 4px 4px $shadow;
            height: 50px;
            width: 50px; 
            &:hover,
            &.selected {
                border-radius: 30px;
                background-color: lighten($contrast-color, 10%);
            }
        }
    }
}

#about div {
    @media only screen and (min-width: 700px) {
        display: inline-block;
        width: 60%;
        margin: 0;
    }
    h2 {
        @media only screen and (min-width: 700px) {
            margin: 4% 0;
            width: 60%;
            padding: 0px;
            display: inline-block;
            line-height: 30px;
        }
    } 
    p {
        @media only screen and (min-width: 700px) {
            width: 100%;
            margin: 0 0 3% 0;
            line-height: 30px;
            font-size: 18px;
            display: inline-block;
            vertical-align: top;
        }
    }
}


#about .skills {
    margin: 0 0 5% 0;
    @media only screen and (min-width: 700px) {
        margin: 2% 0;
        width: 100%;
    }
    img {
        height: 50px;
        width: auto;
        margin: 0 1px 0 0;
        @media only screen and (min-width: 700px) {
            margin: 2% 1% 0 0;
            height: 50px;
            width: auto;
        }
    }
}

#about {
    @media only screen and (min-width: 700px) {
        margin-top: 1%;
    }
    @media only screen and (min-width: 1000px) {
        max-width: 1400px;
        display: block;
        margin: 1% auto 3%;
    } 
    img {
        @media only screen and (min-width: 700px) {
            margin: 4% 0 0 3%;
            width: 36%;
            display: inline-block;
            vertical-align: top;
        }
    }
    h2 {
        margin: 4% 0;
        padding: 0;
        font-size: 36px;
        font-weight: lighter;
        color: $dark-color;
    }
    p {
        color: $dark-color;
        text-align: justify;
        line-height: 25px;
    }
    img {
        width: 100%;
        margin: 3% 0;
    }
}