a {
    color: $light-highlight;
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: $dark-highlight;
    }
}

#masthead {
    background-color: $dark-color;
    border-width: 0;
}

#site-generator {
    background-color: $dark-color;
}

#site-generator .powered {
    display: none;
}

.panels {
    img {
        width: 100%;
    }
}

.wrapper {
    .max {
        @media only screen and (min-width: 1000px) { 
            max-width: 1400px;
            display: block;
            margin: 0 auto;
        }
    }
}
