.entry-header .entry-title {
    color: $med-light-color;
    a {
        color: $med-light-color;
        &:hover,
        &:focus,
        &:active {
            color: $contrast-color;
        }
    }
}


.entry-meta {
    color: $dark-color;
}