#featured-post {
    background-color: $med-light-color;
    padding-top: 20px;
    .entry-title {
        background-color: $shadow;
        font-weight: lighter;
        padding: 0;
        margin-top: 0;
        transition: background-color 1s ease-in-out;
        &:hover,
        &:focus,
        &:active {
            background-color: $contrast-color;
        }
        a {
            padding: 10px 0;
            height: 100%;
            width: 100%;
            display: block;
            color: $bg-light;
        }
    }
}

.featured-homepage-image {
    img.wp-post-image {
        display: none;
        visibility: hidden;
    }
}