.gmpm_photo_show .gmpm_big_button {
    background-color:$contrast-color !important;
}
.gmpm_photo_show .gmpm_big_button:hover {
    background-color:$contrast-color !important;
}

.gmpm_photo_show .gmpm_photo_header {
    padding: 20px;
}

.gmpm_photo_show .gmpm_photo_details {
    padding: 0 20px 40px;
}