#full-width {
	background: linear-gradient(to right, $contrast-color, $dark-highlight, $dark-color);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
	min-height: 70vh;
}

#animate-text {
	background: linear-gradient(to right, $dark-highlight, $light-highlight, $contrast-color);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	width: 100%;
	text-align: center;
	
}

// /* Not needed for demo */
// html, body {
// 	height: 100%;
// }

#animate-text {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	font-size: 12vw;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}