#homepage-message {
    border-width: 0;
    background-color: transparent;
    position: relative;
    padding: 0;
    border-bottom: 0px solid blue;
    color: $light-highlight;
    h2,
    .widget-title {
        font-size: 22px;
    }
    .container{
        width: 40%;
        margin: 0 auto;
        .left-section {
            display: none;
        }
        .right-section {
            width: 192px;
            margin: 20px auto 0;
            display: block;
            float: none;
            a {
                background-color: $dark-highlight;
                border-width: 0;
                font-size: 24px;
                margin: 10px auto;
                &:hover {
                    background-color: $light-highlight;
                }
            }
        }
    }
}

.hentry.format-aside .aside {
    border-left: 22px solid $contrast-color;
    background: $bg-light;
}