// Variables 
$highlight-color: #FF4081;
$light-highlight: #ef4481;
$dark-highlight: #c11f52;
$contrast-color: #08B2E3;
$contrast-color-2: #56E39F;
$dark-color: #353950;
$med-color: #484D6D;
$med-light-color: #565b81;
$shadow: #888daf;
$bg-light-color: #ededf3;
$bg-light: #fff;
$very-dark: #222;
