.widget-area .widget {
    a {    
        color: $dark-color;
        &:hover,
        &:focus,
        &:active {
            color: $contrast-color;
            text-decoration: none;
        }
    }
}

#supplementary .widget-area,
#supplementary .widget-area a {
    color: $bg-light-color;
    &:hover,
    &:focus,
    &:active {
        color: $contrast-color;
    }
}

#content article,
#secondary .widget {
    background-color: $bg-light-color;
}
